﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<EShop.Models.Product>


    <table class="table">
        <thead>
            <tr>
                <th align="center">
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img height="150" width="200" src="@Html.DisplayFor(modelItem => item.Img)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name_En)
                </td>
                <th>
                    $@Html.DisplayFor(modelItem => item.UnitPrice)
                </th>                
                <td>
                    <a asp-action="Details" asp-controller="products" asp-route-id="@item.Id">Details</a> |

                    <a href="#" id="Buy" onclick='addToCart(@item.Id, "@Url.Action("Buy")")'>Buy Now</a>
                </td>
            </tr>
            }
        </tbody>
    </table>



