﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*Cart*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    border-top: solid 1px gray;
    color: black;
    padding: 10px 10px;
    min-height: 60px;
    width : 100%;
    text-decoration: none;
    display: inline-block;
}

.item-img {
    width : auto;
    border : groove 1px;
    margin-right: 10px;
}

.item-name {
    width: 40%;
    font-size: 12px;
    text-overflow: clip;
    margin-right: 10px;
}

.item-qty {
    width: 10%;
    text-align: left;
    font-size: 10px;
    margin-right: 10px;
}

.item-price {
    width: 20%;
    text-align: right;
}

.cart-footer {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3498DB;
    cursor: pointer;
    color: white !important;
}

.cart-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    background-color: #ddd;
}

.cart-footer:hover, .cart-footer:focus {
    background-color: #2980B9 !important;
}

.dropdown-content a div {
    display: inline-block;
}

.dropdown-content a img {
    width: 80px;
    height: 60px;
}


.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
